<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="dark:bg-black">
    <%= yield %>
    <%= javascript_include_tag 'main', src: 'http://localhost:9000/packs/main.tsx' %>
  </body>
</html>
